@font-face {
  font-family: "LL Brown Regular";
  src: local("BrownLL-Regular"),
    url(./fonts/BrownLL-Regular.woff) format("woff");
}

body {
  color: #181800;
  font-family: "LL Brown Regular";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}
